*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: Poppins,sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em 3em;
}
header img {
  width: 250px;
}
header nav {
  display: flex;
  align-items: center;
  gap: 2em;

}
header li {
  list-style: none;
}
header a {
  text-decoration: none;
  color: black;
}
main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  margin: 2em 3em;

}
main .hero-img img {
  width: 500px;
}
main .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1em;
}
main .hero-content p {
  max-width: 350px;
}
main .hero-content button {
  border: none;
  font-family: inherit;
  background-color: #F4CE14;
  border-radius: .3em;
  padding: 1em 2em;
  cursor: pointer;
  max-width: 200px;
}
.specials {
  margin: 2em 3em;
}
.specials .specials-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
.specials .specials-content button {
  border: none;
  font-family: inherit;
  background-color: #F4CE14;
  border-radius: .3em;

  padding: 1em 2em;
  cursor: pointer;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  margin-bottom: 4em;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1em;
  width: 350px;
}
.card .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card img{
  width: 100%;
}
.card button {
  border: none;
  font-family: inherit;
  background-color: #1F3328;
  color: white;
  border-radius: .3em;
  padding: 1em 2em;
  cursor: pointer;
}
.testimonials h1 {
  text-align: center;
  margin-bottom: 4em;
}
.testimonials .testimonial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  margin: auto;
  max-width: 600px;
}
.testimonials .testimonial img {
  width: 150px;
  border-radius: 50%;
}
.testimonials .testimonial .testimonial-content  {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1em;
 font-size: .7em;
}

.about-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  margin: 2em 3em;
}
.about-section p {
  max-width: 350px;
}
.about-section img {
  max-width: 500px;
}

footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 2em 3em;
background-color: #1F3328;
color: white;
}
footer li {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: white;
}
footer .logo {
  width: 250px;
}
footer .footer-section, footer .footer-section .links {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: .5em;
  text-align: left;
}
footer .footer-section .icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5em;
}
footer .footer-section .icons img {
  width: 70%;
}